<div class="product-ownership-status">
  {%- if customer != nil -%}
    <div class="product-ownership-status__message">
      {{ 'general.product_ownership.already_purchased' | t }}
    </div>
  {%- else -%}
    <div class="product-ownership-status__message">
      <a href="{{ routes.account_login_url }}" class="link">{{ 'customer.login_page.sign_in' | t }}</a>
    </div>
  {%- endif -%}
</div>
